.app {
  text-align: center;
  background-color: black;
  height: 100vh;
  color: white;
}
nav{
  background-color: black !important;
}

/* start login page */
.login-page{
  display: grid;
    place-items: center;
    min-height: 70vh;
    background-color: blueviolet;
    border-radius: 20px;
    box-shadow: 0 1px 10px 13px rgb(255 255 255 / 12%), 0 1px 3px rgb(255 255 255 / 12%);
}
.login-page  h1 {
  align-items: center;
  justify-content: center;
  margin-top: -10%;
  
}
.login-page form {
  text-align: start;
}
.login-page form a{
  color: white;
}
.login-page  form button{
  margin-bottom: 20px;
} 
.bacground-image-login{
  background-image: url('./images/undraw_Hacker_mindset_re_8a33.svg');
  background-size: cover;
  height: 156%;
  transition: all 0.5s ease-in-out;
}

.bacground-image-login-hover{
  background-image: url('./images/undraw_my_password_d6kg.svg');
  background-size: cover;
  background-position: center;
  height: 156%;
  transition: all 0.5s ease-in-out;
}

/* End login page */

/* Start register page */
.register-page{
  display: grid;
    place-items: center;
    min-height: 70vh;
    background-color: blueviolet;
    border-radius: 20px;
    box-shadow: 0 1px 10px 13px rgb(255 255 255 / 12%), 0 1px 3px rgb(255 255 255 / 12%);
}
.register-page form {
  text-align: start;
}
.bacground-image-regester {
  background-image: url('./images/undraw_regain_focus_ecvj.svg');
  background-size: cover;

}

/* End register page */


/* Start Home page */
.home-page{
  display: flex;
  place-items: center;
  min-height: 94vh;
}
.home-page-background{
  background-image: url('./images//undraw_profile_6l1l.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 600px;
  display: flex;
}

.home-page-inf{
  text-align: start;
}
/* End Home page */


/* start Crate task page */

.create-task-page{
  display: flex;
  place-items: center;
  min-height: 80vh;
}

.bacground-image-task{
  background-image: url('./images/undraw_add_tasks_mxew.svg');
  background-position: center;
  background-size: contain;
  height: 247%;
  background-repeat: no-repeat;
}

/* End Crate task page */